pipeline/ADF_2_AWSS3.json
{
	"name": "ADF_2_AWSS3",
	"properties": {
		"activities": [
			{
				"name": "REST_2_AWSS3",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sap-erp-data.s3.amazonaws.com/vbak1.txt",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PUT",
					"body": {
						"value": "@activity('Execute Pipeline1').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DP_VBAK",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-03-25T02:42:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}