pipeline/Send notification to a channel in Microsoft Teams1.json
{
	"name": "Send notification to a channel in Microsoft Teams1",
	"properties": {
		"description": "Use this pipeline template to send notification on a teams channel. \n\nhttps://adf.azure.com/en-us/monitoring/pipelineruns/f90465ff-b8ea-4f0f-9110-178164bc8ee4?factory=/subscriptions/7b68d2b5-dfbe-46e1-938f-98ed143b7953/resourceGroups/demo101-rg/providers/Microsoft.DataFactory/factories/demofactory101",
		"activities": [
			{
				"name": "Set Facts",
				"description": "Details on Fact schema for teams messages: https://adaptivecards.io/explorer/Fact.html",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCardString",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.pipelineRunId}\"\n                },\n                {\n                    \"name\": \"Activity name:\",\n                    \"value\": \"@{pipeline().parameters.activityName}\"\n                },\n                {\n                    \"name\": \"Activity status:\",\n                    \"value\": \"@{pipeline().parameters.activityStatus}\"\n                },\n                {\n                    \"name\": \"Execution duration (s):\",\n                    \"value\": \"@{pipeline().parameters.activityDuration}\"\n                },\n                {\n                    \"name\": \"Message\",\n                    \"value\": \"@{pipeline().parameters.activityMessage}\"\n                },\n                {\n                    \"name\": \"Notification time (UTC):\",\n                    \"value\": \"@{utcNow()}\"\n                },\n                {\n                    \"name\": \"Data Factory name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://adf.azure.com/monitoring/pipelineruns/',pipeline().parameters.pipelineRunId,'?factory=/subscriptions/',pipeline().parameters.dataFactorySubscription,'/resourceGroups/',pipeline().parameters.dataFactoryResourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call Teams Webhook",
				"description": "Invokes teams channel's webbook.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Facts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.teamsWebhookUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('messageCardString'))",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "aj@ecoservity.com",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			}
		],
		"parameters": {
			"dataFactorySubscription": {
				"type": "string",
				"defaultValue": "46dc1f4c-23e9-44fc-9f55-1ed1a221be89"
			},
			"dataFactoryResourceGroup": {
				"type": "string",
				"defaultValue": "NetworkWatcherRG"
			},
			"pipelineRunId": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"teamsWebhookUrl": {
				"type": "string",
				"defaultValue": "https://teams.microsoft.com/l/team/19%3azEkQeVOvSvUzSNUGJJW8RTHxNB84wlekE4kwnriE0pg1%40thread.tacv2/conversations?groupId=c03c2faf-6374-4628-aa1d-f538ef0ba360&tenantId=403d0a69-ae6c-459e-a989-d89a3141d440"
			},
			"activityName": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityMessage": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityDuration": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityStatus": {
				"type": "string",
				"defaultValue": "Failed"
			}
		},
		"variables": {
			"messageCardString": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-21T05:15:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}